@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ebf2f0;
}

.app {
  width: 100%;
  flex-direction: column;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.progress-bar {
  display: flex;
}

.file-name {
  text-align: center;
}

.progress-bar-div {
  margin: 50px 0;
}

h1.active-links {
  text-align: center;
}
